<div class="hide">
    <form action="{{ public_url }}/logout" method="POST" id="logout-form">
        <input type="hidden" name="_csrf" value="{{ _csrf }}" />
        <input type="hidden" name="logout" value="logout" />
        <input type="submit" value="logout" />
    </form>
</div>