<ul id="main-nav">
    <li><a href="{{ public_url }}">Home</a></li>
    {% if is_logged() %}
        <li><a href="{{ public_url }}/api-docs">API docs</a></li>
        <li><a href="javascript:logout();">Logout</a></li>
    {% else %}
        <li><a href="{{ public_url }}/login">Login</a></li>
    {% endif %}
</ul>