{% extends "base.twig" %}
{% block head %}
    <title>API docs</title>
{% endblock %}
{% block container %}
    <div class="wrap">

        <h1 class="">API docs</h1>
        <div class="sep-5"></div>

        <p><a href="{{ public_url }}/api/trigger" target="_blank">{{ public_url }}/api/trigger</a></p>
        <p>Trigger the execution of a pipeline. Configure your git webhook to point to this url and make sure to include a token from config.json in request body or headers. Request to his endpoint will execute <code>on_trigger</code> callback in your pipeline handler and will pass the request body and headers to the callback argument.</p>
        <pre class="pre">METHOD: POST</pre>

        <div class="sep"></div>

        <p><a href="{{ public_url }}/api/manual-trigger" target="_blank">{{ public_url }}/api/manual-trigger</a></p>
        <p>Trigger the execution of a pipeline manually. You can specify <code>jobIndex</code> to run a single job inside a pipeline. If set to null, the whole pipeline will be executed. You can also specify arbitrary <code>extra</code> arguments to be passed to a pipeline. Make sure to include a token form config.json in X-Pipeliner-Token header.</p>
        <pre class="pre">METHOD: POST
HEADERS:
    "X-Pipeliner-Token": "token from config.json"
BODY:
    {
        "extra": {
            "branch": "master",
            ...
        },
        "job_index": 1,
        "pipeline": "pipelineName"
    }
</pre>

    </div>
{% endblock %}