<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="{{ public_url }}/img/favicon.png"/>

    <link rel="stylesheet" href="{{ public_url }}/css/flexboxgrid.min.css" />
    <link rel="stylesheet" href="{{ public_url }}/css/style.css" />
    <link rel="stylesheet" href="{{ public_url }}/plugins/font-awesome/css/all.min.css" />

    <script type="text/javascript">
        const _CSRF = '{{ _csrf }}';
        const PUBLIC_URL = '{{ public_url }}';
    </script>
    <script type="text/javascript" src="{{ public_url }}/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="{{ public_url }}/plugins/moment.js"></script>
    <script type="text/javascript" src="{{ public_url }}/js/main.js"></script>
    <script type="text/javascript" src="{{ public_url }}/js/PipelineLog.js"></script>
    <script type="text/javascript" src="{{ public_url }}/js/PipelineHistory.js"></script>
    <script type="text/javascript" src="{{ public_url }}/js/PipelineRunner.js"></script>

    {% block head %}
    <title>Pipeliner</title>
    {% endblock %}
</head>
<body>

    <div id="topbar"></div>
    <div id="header">
        <div class="wrap">
            <div class="row">
                <div class="col col-sm-3 col-xs-12">
                    <div id="server-name"><a href="{{ public_url }}">{{ server_name }}</a></div>
                </div>
                <div class="col col-sm-9 col-xs-12">
                    {% include "modules/main_nav.twig" %}
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        {% block container %}
        <div class="wrap">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis cupiditate debitis ea, iste odio pariatur rerum tempora tenetur voluptas. Architecto dignissimos fugit impedit nesciunt placeat quaerat saepe similique, vel.</p>
        </div>
        {% endblock %}
    </div>
    <div id="footer">
        <div class="wrap">
            <div>Pipeliner v1.0. Created by <a href="https://janm.si" target="_blank">janm.si</a></div>
        </div>
    </div>
    {% include "modules/logout.twig" %}

</body>
</html>