{% extends "base.twig" %}
{% block head %}
    <title>Pipeliner dashborard</title>

    <style type="text/css">
        #history-title h1, #history-title #clear-history{
            display: inline-block;
        }
        #clear-history{
            margin-left: 10px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            var interval = 2000;

            // history list
            var history = new PipelineHistory();
            history.init({
                listElm: $("#history-wrap")
            });

            // clear history
            $("#clear-history").click(function () {
                var c = confirm("Are you sure that you want to clear pipeline history?");
                if (!c) return;

                history.clearHistory(function (r) {
                    if (r.error){
                        alert(r.error);
                    } else {
                        history.updateHistory();
                    }
                });
            });

            // running pipeline indicator
            var log = new PipelineLog();
            log.init({
                refreshInterval: interval,
                progressElm: $("#running"),
                pipelineId: null
            });
            log.onUpdate(function (log, queueSize) {
                if (log != null) queueSize++;
                $("#queue-size").html(queueSize);
            });
            log.onComplete(function () {
                $("#running").html('').hide();
                history.updateHistory();
            });

            // pipeline runner
            var runner = new PipelineRunner();
            runner.init({
                elm: $("#runner-wrap")
            });
            runner.onAdd(function (r) {
                if (r.added_pipeline){
                    setTimeout(function () {
                        history.updateHistory();
                    }, interval);
                }
            });
        });
    </script>
{% endblock %}
{% block container %}
    <div class="wrap">

        {% if has_user_permission("admin") %}
            <h1>Defined pipelines</h1>
            <div id="runner-wrap"></div>
            <div class="sep-10"></div>
        {% endif %}

        <h1>Queue</h1>
        <div id="queue-wrap">
            <div>Pipelines in queue: <span id="queue-size">0</span></div>
            <div id="running" class="hide" style="margin-top: 10px"></div>
        </div>
        <div class="sep"></div>

        <div id="history-title">
            <h1>History</h1>
            {% if has_user_permission("admin") %}
                <div id="clear-history"><a href="javascript:void(0);">Clear history ...</a></div>
            {% endif %}
        </div>
        <div id="history-wrap"></div>

    </div>
{% endblock %}