{% extends "base.twig" %}
{% block head %}
    <title>Pipeliner login</title>

    <style type="text/css">
        #email, #pass{
            width: 100%;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="wrap">

        <div class="sep-30"></div>
        <div class="pull-center">
            <h1 class="">Login</h1>

            {{ alert(error) }}

            <form action="" method="POST">
                <input type="hidden" name="_csrf" value="{{ _csrf }}" />

                <label>E-mail</label>
                <input type="text" id="email" name="email" placeholder="E-mail" autocomplete="off" />
                <div class="sep-5"></div>

                <label>Password</label>
                <input type="password" id="pass" name="pass" placeholder="Password" />
                <div class="sep"></div>

                <input type="submit" class="btn" id="login" name="login" value="login" />
            </form>
        </div>
        <div class="sep-40"></div>

    </div>
{% endblock %}