{% extends "base.twig" %}
{% block head %}
    <title>Not found</title>
{% endblock %}
{% block container %}
    <div class="wrap">

        <h1>Not found</h1>
        <p>Whoops, looks like this pages does not exist.</p>

    </div>
{% endblock %}