{% extends "base.twig" %}
{% block head %}
    <title>Pipeline #{{ pipeline_id }}</title>

    <script type="text/javascript">
        $(document).ready(function () {
            var log = new PipelineLog();
            log.init({
                refreshInterval: 2000,
                progressElm: $("#progress-wrap"),
                logsElm: $("#logs-wrap"),
                pipelineId: {{ pipeline_id }}
            });
        });
    </script>
{% endblock %}
{% block container %}
    <div class="wrap">
        <h1>Pipeline #{{ pipeline_id }}</h1>

        <div class="sep-10"></div>
        <div id="progress-wrap"></div>
        <div class="sep-30"></div>
        <div id="logs-wrap"></div>
    </div>
{% endblock %}