/**
 * Main css document
 */

.Eisblau-Rose--1-hex { color: #F2C9C8; }
.Eisblau-Rose--2-hex { color: #F1E7EC; }
.Eisblau-Rose--3-hex { color: #9C6779; }
.Eisblau-Rose--4-hex { color: #6C7C94; }
.Eisblau-Rose--5-hex { color: #DAD4DF; }
.Eisblau-Rose--1-rgba { color: rgba(242, 201, 200, 1); }
.Eisblau-Rose--2-rgba { color: rgba(241, 231, 236, 1); }
.Eisblau-Rose--3-rgba { color: rgba(156, 103, 121, 1); }
.Eisblau-Rose--4-rgba { color: rgba(108, 124, 148, 1); }
.Eisblau-Rose--5-rgba { color: rgba(218, 212, 223, 1); }


body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.clear{
    float: none;
    clear: both;
    display: block;
    visibility: hidden;
}
.wrap{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
.pull-center{
    max-width: 360px;
    margin: 0 auto;
}
.hide{
    display: none;
}


a:link, a:visited{
    color: #9C6779;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

b{
    font-weight: 600;
}

h1{
    font-size: 28px;
}
h2{
    font-size: 23px;
}
h3{
    font-size: 20px;
}

p{
    text-align: justify;
    line-height: 1.4em;
}

.center{
    text-align: center;
}

/**
 * Separators
 */
.sep, .sep-5, .sep-10, .sep-20, .sep-30, .sep-40, .sep-50, .sep-60, .sep-70, .sep-80, .sep-90, .sep-100{
    display: block;
    height: 20px;
    margin: 0; padding: 0;
    visibility: hidden;
}
.sep-5{  height: 5px }
.sep-10{ height: 10px; }
.sep-20{ height: 20px; }
.sep-30{ height: 30px; }
.sep-40{ height: 40px; }
.sep-50{ height: 50px; }
.sep-60{ height: 60px; }
.sep-70{ height: 70px; }
.sep-80{ height: 80px; }
.sep-90{ height: 90px; }
.sep-100{ height: 100px; }

/**
 * Header
 */
#topbar{
    background: #99B1BF;
    height: 5px;
}
#header{
    border-bottom: 1px solid #e5e5e5;
    padding: 0 20px;
}
#header .wrap{
    padding: 0;
}
#server-name{
    color: #333;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
#server-name a{
    color: #333;
    text-decoration: none;

    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
#server-name a:hover{
    color: #000;
}

#main-nav{
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-nav li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0 0 0 16px;
}
@media (max-width: 768px) {
    #server-name, #main-nav{
        text-align: center;
    }
}

/**
 * Container
 */
#container{
    padding: 30px 0;
}

/**
 * Footer
 */
#footer{
    border-top: 1px solid #e5e5e5;
    margin: 30px 0 40px 0;
}
#footer .wrap{
    padding: 20px 10px;
    font-size: 15px;
}
@media (max-width: 768px) {
    #footer{
        text-align: center;
    }
}

/**
 * Table
 */
.table{
    width: 100%;
    border-collapse: collapse;
}
.table th{
    border-bottom: 2px solid #e5e5e5;
    text-align: left;
    color: #000;
    padding: 8px 8px;
    font-weight: 600;
}
.table td{
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 8px;
}

/**
 * Pipeline list, pipeline flow and pipeline info list
 */
.pipeline-list{
    border-top: 2px solid #e5e5e5;
}
.pipeline-list .li{
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}
.pipeline-list .li:last-child{
    border-bottom: none;
}
.pipeline-list.line .li:last-child{
    border-bottom: 1px solid #e5e5e5;
}
.pipeline-list-title{
    font-weight: 600;
    padding: 6px 8px;
}
.pipeline-list .param{
    display: flex;
    width: 100%;
    border: 1px solid #CCC;
    height: 30px;
    font-size: 14px;
    overflow: hidden;
    margin: 0 0 10px 0;

    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.pipeline-list .param:last-child{
    margin-bottom: 5px;
}
.pipeline-list .param .name{
    line-height: 30px;
    vertical-align: middle;
    border-right: 1px solid #CCC;
    padding: 0 12px;
    background: #EFEFEF;
}
.pipeline-list .param input{
    flex-grow: 1;
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 0 12px;
}
.pipeline-list .param.error{
    -webkit-box-shadow: 0 0 3px 0px rgba(184, 0, 0, 1.0);
    box-shadow: 0 0 3px 0px rgba(184, 0, 0, 1.0);
}

.pipeline-flow{
    list-style: none;
    margin: 0 0 0 -3px;
    padding: 0;
}
.pipeline-flow::after{
    content: "";
    position: relative;
    display: block;
    clear: both;
    float: none;
}
.pipeline-flow li,
.pipeline-item{
    position: relative;
    float: left;
    padding: 3px 30px 3px 8px;
    border: 1px solid #CCC;
    margin: 5px 9px 5px 0;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    cursor: default;
    background: #FFF;

    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.pipeline-item{
    float: none;
    display: inline-block;
    margin: 0;
}
.pipeline-flow li::before{
    position: absolute;
    left: -10px; top: 50%;
    content: "";
    width: 10px;
    height: 0;
    border-top: 2px solid #CCC;
}
.pipeline-flow li .status,
.pipeline-item .status{
    position: absolute;
    right: 4px; top: 4px;
    background: #CCC;
    width: 20px;
    height: 20px;
    display: block;

    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.pipeline-flow li .status .fas{
    position: absolute;
    width: 21px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    color: rgba(255,255,255,0.85);
}
.pipeline-flow li .status.green,
.pipeline-item .status.green{
    background: #43A88C;
}
.pipeline-flow li .status.red,
.pipeline-item .status.red{
    background: #B80000;
}
.pipeline-flow li .status.blue,
.pipeline-item .status.blue{
    background: #1764A2;
}
.pipeline-flow li:first-child::before{
    display: none;
}
.pipeline-flow li.no-line::before{
    display: none;
}

.pipeline-flow.clickable li .status .fas{
    opacity: 0.6;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition-property: opacity, box-shadow;
}
.pipeline-flow.clickable li:hover .status .fas{
    opacity: 1.0;
}
.pipeline-flow.clickable li{
    cursor: pointer;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition-property: opacity, box-shadow;
}
.pipeline-flow.clickable li:hover{
    -webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
}

.pipeline-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.pipeline-info li.tight{
    margin-right: 5px;
}
.pipeline-info li{
    display: inline-block;
    margin: 0 16px 5px 0;
}
.pipeline-info li .fas{
    margin: 0 5px 0 0;
}


/**
 * Pipeline log
 */
.pipeline-log{

}
.pipeline-log .log-item.alone{
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}
.pipeline-log .log-item{
    border: 1px solid #e5e5e5;
    border-top: none;
}
.pipeline-log .log-item:first-child{
    border-top: 1px solid #e5e5e5;
}
.pipeline-log .log-item .title{
    border-bottom: 1px solid #e5e5e5;
    background: #EFEFEF;
    padding: 6px;
}
.pipeline-log .log-item .title ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.pipeline-log .log-item .title ul li{
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 15px;
}
.pipeline-log .log-item .title ul li .fas{
    margin: 0 5px 0 0;
}
.pipeline-log .log-item pre{
    margin: 0;
    padding: 10px;
    line-height: 1.4em;
    overflow-x: auto;
}

/**
 * Forms
 */
label{
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 0 3px;
    padding: 0;
}
input[type="text"], input[type="password"]{
    border: 1px solid #CCC;
    padding: 8px 10px;
    color: #333;
    box-sizing: border-box;

    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: none;
}
.btn{
    outline: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    background: #99B1BF;
    border: 0 none;
    padding: 8px 16px;
    border-bottom: 2px solid #638599;

    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition-property: opacity, box-shadow;
}
.btn:hover{
    opacity: 0.7;
}

.alert{
    border: 1px solid #99B1BF;
    background: #ccd8e0;
    padding: 8px 10px;
    margin: 0 0 20px;
    color: #6C7C94;

    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/**
 * Pre and code
 */
pre.pre{
    background: #EFEFEF;
    padding: 10px;
    border: 1px solid #CCC;
    line-height: 1.4em;

    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow-x: auto;
}
